<div id="<%= dom_id customer %>" class="card shadow-lg p-3 mb-4 text-center">
  <div class="card-body" >
    
    <h1 class="card-title text-primary fs-5">
      Name:
      <span class="text-info"><%= customer.name %></span>
    </h1>

    <h1 class="card-text fs-5 text-primary">
      Email:
      <span class="text-warning"><%= customer.email %></span>
    </h1>

  </div>
</div>
