!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to New Connection App, <%= @product.name %>!</h1>
    <p>
      You have successfully joined this community
      your email is: <%= @product.email %>.<br>
    </p>
    
    <p>Thanks for joining and have a fun-tastic day!</p>
  </body>
</html>