<p class="text-success text-center"><%= notice %></p>
<% content_for :title, "Products" %>
<div class="d-flex align-items-center mb-4 position-relative">
  <h1 class="text-success mx-auto mb-0">Products</h1>

  <%= link_to "Add Product",
      new_product_path,
      class: "btn btn-success position-absolute end-0" %>
</div>


<div class="container">
  <table class="table table-bordered table-hover text-center">
    <thead class="table-primary">
      <tr class="text-warning">
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Status</th>
        <th>Action</th>
        <th>Review</th>
        <th>Product Images</th>
        <th>Invoice</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <%= render product %>
      <% end %>
    </tbody>
  </table>
</div>
