<div class="card-body">

    <h1 class="card-title text-primary fs-5">
      Details:
      <span class="text-info"><%= order.details %></span>
    </h1>

    <h1 class="card-text fs-5 text-primary">
      Count:
      <span class="text-warning"><%= order.count %></span>
    </h1>
</div>